

<div class="header" >
  <h2><%= link_to "M|m", root_path, class: "splash-back" %></h2>
  <h1 class="page-title" >Categories</h1>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link-log" %>
</div>

<p style="color: green"><%= notice %></p>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>

<button class="btn-new btn-new-category footer">
  <%= link_to "NEW CATEGORY", new_category_path, class: "link-new link-new-category" %>
</button>
